.address-section {
  margin: 0rem 4rem;
}
.address-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.address-heading button {
  height: 2rem;
  width: 12rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.address-heading button:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.address-details-line {
  border: 1px solid var(--primary-color);
  margin: 0rem;
  width: 100%;
}
.address-list {
  margin: 1rem 0rem;
}

.address-details {
  list-style: none;
}
.address-action-btn {
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.address-action-btn .edit-btn,
.delete-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.address-action-btn .edit-btn:hover,
.delete-btn:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.profile-address-modal {
  background-color: var(--modal-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  inset: 0;
  position: fixed;
}
