.address-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0rem;
  width: 20rem;
  max-height: 90vh;
  overflow-y: auto;
}
.address-profile-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-grow: 1;
  margin: 0.5rem 1rem;
}
.address-profile-label {
  display: flex;
}
.address-profile-form input {
  width: 100%;
  height: 1.9rem;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding-left: 10px;
}
.address-modal-btns {
  display: flex;
  justify-content: space-evenly;
}
.address-modal-btns .btn-cancel,
.btn-save {
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
}
.address-modal-btns .btn-cancel:hover,
.btn-save:hover {
  cursor: pointer;
  font-weight: bold;
}
