.card {
  width: 300px;
  height: 500px;
  padding: 1em;
  border: 1px solid oldlace;
  margin: 1em 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.2px solid var(--primary-color);
  border-radius: 8px;
}
.card-title {
  flex-grow: 1;
  min-height: 2.7rem;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.card > img {
  max-width: 100%;
  object-fit: contain;
  padding-bottom: 1em;
}
.card h5 {
  margin: 0;
}
.card-category-brand {
  display: flex;
  justify-content: space-evenly;
}
.card-brand {
  font-size: 1.1rem;
}
.btn-cart {
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 40px;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}
.btn-cart:hover {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.card-rating {
  margin: 1rem 0rem;
}
.card-rating .card-price {
  font-weight: 700;
  color: var(--discounted-price-color);
}

.card-rating .card-original-price {
  color: var(--original-price-color);
  padding-right: 1rem;
}

.wishlist-icon {
  position: absolute;
  top: 5px;
  right: 8px;
}

.wishlist-icon-card {
  color: red;
}
.price-discount-container {
  display: flex;
  justify-content: space-between;
}
