.card-product {
  display: flex;
  margin: 1rem;
  max-width: 100%;
  padding: 1rem;
  background-color: lightgray;
}

.card-product img {
  object-fit: contain;
  width: 30%;
  height: 30vh;
}
.card-product-name {
  margin-block-end: 0em;
  margin-block-start: 2rem;
}
.card-product-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0rem auto;
}
.cart-price-details {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.card-quanity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.cart-btn-qty {
  width: 35%;
  height: 50%;
}
.cart-remove-btn {
  height: 2.5rem;
  width: 80%;
  border-radius: 5px;
}
