.footer {
  background: var(--primary-color);
  width: 100%;
  display: grid;
  align-items: center;
  padding: 1rem;
  grid-template-columns: repeat(1, fr);
  grid-template-areas: "social-icons info useful-links";
  text-align: center;
  color: #ffffff;
}
.useful-links {
  display: flex;
  flex-direction: column;
}
.useful-links a {
  margin: 0.5rem;
  color: #ffffff;
}
.social-icons {
  grid-area: social-icons;
}

.info {
  grid-area: info;
}

.useful-links {
  grid-area: useful-links;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 0rem 1rem;
}
.nav-link:hover {
  scale: 1.1;
}
.connect-links svg:hover {
  scale: 1.3;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-areas:
      "social-icons useful-links"
      "info info";
  }
}
@media screen and (max-width: 480px) {
  .footer {
    grid-template-areas:
      "useful-links"
      "social-icons"
      "info";
  }
}
