.product-details {
  display: flex;
  padding: 60px 60px;
  justify-content: center;
  text-align: center;
}

.product-details img {
  width: 300px;
  height: 350px;
  object-fit: contain;
  margin: 30px;
  border-radius: 10px;
}

.product-detail {
  margin: 20px 30px;
}

.product-detail hr {
  margin: 20px 0;
  width: 100%;
}

.product-detail .title-product {
  margin-top: 1rem;
  color: gray;
  width: 300px;
  font-size: 18px;
  font-weight: bolder;
}

.add-cart {
  width: 90%;
  cursor: pointer;
  background-color: #1a73e8;
  color: white;
  height: 40px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.add-cart:hover {
  scale: 1.1;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating {
  font-size: 14px;
  margin-bottom: 0;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 1rem 0rem;
}

.product-price .product-original-price {
  color: red;
  font-size: 18px;
}
.product-price .product-discounted-price {
  color: green;
  font-size: 18px;
}
.stock {
  margin-top: -7px;
  font-size: 14px;
}

.wishlist-cart {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: 30px;
}
